**.nii.gz
**.log
**.zip
**.pyc
**.tar
**.sh
**.ipynb
**.yml
**.txt
**.png
*.pt
*.pth

Dataset/**
notebooks/**
trash/**
logs/**

**__pycache__/**
**.ipynb_checkpoints/**
**.vscode/**

Synthetic-CT-generation-from-MRI-using-3D-transformer-based-denoising-diffusion-model_BraSys/logs/**
Synthetic-CT-generation-from-MRI-using-3D-transformer-based-denoising-diffusion-model_BraSys/empty_tensor/**
Synthetic-CT-generation-from-MRI-using-3D-transformer-based-denoising-diffusion-model_BraSys/docker/**
Synthetic-CT-generation-from-MRI-using-3D-transformer-based-denoising-diffusion-model_BraSys/sbatch_out/**
Synthetic-CT-generation-from-MRI-using-3D-transformer-based-denoising-diffusion-model_BraSys/predictions/**
Synthetic-CT-generation-from-MRI-using-3D-transformer-based-denoising-diffusion-model_BraSys/problematic_batch/**
Synthetic-CT-generation-from-MRI-using-3D-transformer-based-denoising-diffusion-model_BraSys/network/nnUNet/**

Synthetic-CT-generation-from-MRI-using-3D-transformer-based-denoising-diffusion-model/logs/**
Synthetic-CT-generation-from-MRI-using-3D-transformer-based-denoising-diffusion-model/empty_tensor/**
Synthetic-CT-generation-from-MRI-using-3D-transformer-based-denoising-diffusion-model/docker/**
Synthetic-CT-generation-from-MRI-using-3D-transformer-based-denoising-diffusion-model/sbatch_out/**
Synthetic-CT-generation-from-MRI-using-3D-transformer-based-denoising-diffusion-model/predictions/**
Synthetic-CT-generation-from-MRI-using-3D-transformer-based-denoising-diffusion-model/problematic_batch/**
Synthetic-CT-generation-from-MRI-using-3D-transformer-based-denoising-diffusion-model/network/nnUNet/**
Synthetic-CT-generation-from-MRI-using-3D-transformer-based-denoising-diffusion-model/network/dynamic_network_architectures_DDPM/**